html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background: #000;
  color: #fff;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto;
}

.navigation__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  width: auto;
  background: #fff;
}

.navigation__item {
  position: relative;
  height: 24px;
  font-size: 13px;
  line-height: 24px;
  color: #333;
}

.navigation__link {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s ease-out;
  color: #333;
}

.navigation__link--active {
  cursor: default;
}

.navigation__link--active,
.navigation__link:hover {
  background: #ddd;
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  position: absolute;
  right: 32px;
  top: 0;
  padding: 0 5px 0 8px;
  background: #000;
  color: #fff;
  line-height: 24px;
  transition: all 0.10s ease-out;
  transform: translateX(-8px);
  white-space: nowrap;
}

.navigation__item:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0.2s, opacity 0.10s ease-out 0.2s, transform 0.15s ease-out 0.2s;
  transform: translateX(0);
}

.tooltip::after {
  position: absolute;
  right: -12px;
  top: 0;
  content: '';
  pointer-events: none;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 0 12px 12px;
  border-color: transparent transparent transparent #000;
}

.pause {
  position: fixed;
  left: 10px;
  top: 10px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
