html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: 'Inconsolata', monospace;
  background: #000;
  color: #fff;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

svg {
  display: block;
}

.navigation {
  display: flex;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 64px;
  border: 1px solid #fff;
}

.navigation:hover .navigation__list {
  visibility: visible;
  opacity: 1;
  transition: visibility linear,
    opacity ease-out 0.2s;
}

.navigation__list {
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  display: flex;
  position: absolute;
  top: -1px;
  right: -1px;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  width: 152px;
  background: #fff;
  transition: 0.15s all 0.2s ease-out;
  border: 1px solid #fff;
}

.navigation__current {
  right: 31px;
  width: 31px;
  height: 31px;
  background: #ddd;
  font-size: 16px;
  line-height: 31px;
  text-align: center;
  color: #000;
}

.navigation__item {
  position: relative;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  color: #333;
}

.navigation__link {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s ease-out;
  color: #333;
}

.navigation__link--active {
  cursor: default;
}

.navigation__link--active,
.navigation__link:hover {
  background: #ddd;
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  position: absolute;
  right: 38px;
  top: 3px;
  padding: 0 5px 0 8px;
  background: #000;
  color: #fff;
  line-height: 24px;
  transition: 0.1s all 0.10s ease-out;
  transform: translateX(-8px);
  white-space: nowrap;
  pointer-events: none;
}

.navigation__item:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0.2s,
    opacity 0.10s ease-out 0.2s,
    transform 0.15s ease-out 0.2s;
  transform: translateX(0);
}

.tooltip::after {
  position: absolute;
  right: -12px;
  top: 0;
  content: '';
  pointer-events: none;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 0 12px 12px;
  border-color: transparent transparent transparent #000;
}

.pause {
  position: fixed;
  left: 10px;
  top: 10px;
  padding: 0 8px;
  background: #000;
  border: 1px solid #fff;
  font-size: 20px;
  color: #fff;
  height: 33px;
  line-height: 31px;
  cursor: pointer;
}
